<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <header  th:fragment="logout_header">
      <nav class="navbar navbar-dark bg-dark">
        <ul style = "display: flex; list-style-type: none; text-align: center">
          <li class = mr-3><a href="/Top" class = "text-white">トップ</a></li>
          <li class = mr-3><a href="/Login" class = "text-white">ログイン</a></li>
          <li class = mr-3><a href="/Register" class = "text-white">会員登録</a></li>
        </ul>
      </nav>
    </header>
</body>
</html>