<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.OutputMapper"> 
  <insert id="Create">
    insert into output(user_id,title,description,keyword)
    values(1,#{title},#{description},#{keyword})
  </insert>
  
  <select id = "Index" resultType = "com.example.demo.object.Output">
    select * from output
  </select>

  <delete id = "Delete">
    DELETE FROM output WHERE id = #{id} 
  </delete>

  <select id = "Edit" resultType = "com.example.demo.object.Output">
    SELECT * FROM output WHERE id = ${id}
  </select>

  <update id = "Update">
    update output set title = #{title},description = #{description},keyword = #{keyword} WHERE id = #{id}
  </update >

</mapper >