<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>編集ページ</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
         <li><a href="/Create">新規投稿</a></li>
          <li><a href="/Index">投稿一覧</a></li>
          <li>
            <form method = "post" th:action = "@{/Logout}">
              <input type = "submit" value = "ログアウト">
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <h1>編集ページ</h1>
    <form method = "post" th:action = "@{/Update}"  th:object="${output}">
      <div>タイトル:　<input type = "text" th:field = "*{title} "></div>
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
      <div>説明:　　　<input type = "text" th:field = "*{description}"></div>
      <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
      <div>キーワード:<input type = "text" th:field = "*{keyword}"></div>
      <div th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}"></div>
      <input type = "hidden" name ="id" th:field = "*{id}">
      <div><input type = "submit" value = "更新"></div>
    </form>
  </body>
  </body>
</html>