<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>編集ページ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">  
  </head>
  <body>
    <header th:replace="layout/login_header::header"></header>
    <h1  class = "mt-5 ml-5">編集画面</h1>
    <form method = "post" th:action = "@{/Update}"  th:object="${output}">
      <div class = "mt-3 ml-5">タイトル　　<input type = "text" th:field = "*{title} "></div>
      <div class = "mt-3 ml-5 text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
      <div class = "mt-3 ml-5">説明　　　　<input type = "text" th:field = "*{description}"></div>
      <div class = "mt-3 ml-5 text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
      <div class = "mt-3 ml-5">キーワード　<input type = "text" th:field = "*{keyword}"></div>
      <div class = "mt-3 ml-5 text-danger" th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}"></div>
      <input type = "hidden" name ="id" th:field = "*{id}">
     <button class="btn btn-success  mt-3 ml-5" type="submit">更新</button> 
    </form>
  </body>
  </body>
</html>