<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>投稿一覧</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/Create">新規投稿</a></li>
          <li><a href="/Index">投稿一覧</a></li>
          <li><a href="/Top">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <h1>投稿一覧ページ</h1>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>説明</th>
          <th>キーワード</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each = "output:${outputIndex}">
          <td th:text = "${output.title}"></td>
          <td th:text = "${output.description}"></td>
          <td th:text = "${output.keyword}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>