<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>投稿一覧</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  </head>
  <body>
    <header th:replace="layout/login_header::header"></header>
    <h1 class = "mt-5 ml-5">投稿一覧画面</h1>
    <table class = "table mt-5 ml-5 mr-5">
      <thead class="thead-light">
        <tr>
          <th>タイトル</th>
          <th>説明</th>
          <th>キーワード</th>
          <th>削除</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each = "output:${outputIndex}">
          <td th:text = "${output.title}"></td>
          <td th:text = "${output.description}"></td>
          <td th:text = "${output.keyword}"></td>
          <td>
            <form th:action ="@{/Edit}" method = "post">
            <button type="submit" name = "delete" value = "削除" class="btn btn-danger">削除</button>
              <input type = "hidden" name ="id" th:value = "${output.id}">
            </form>
          </td>
          <td>
            <form th:action ="@{/Edit}" method = "post">
              <button type="submit" name = "edit" value = "編集" class="btn btn-success">編集</button>
              <input type = "hidden" name ="id" th:value = "${output.id}">
            </form>
          </td>
          
        </tr>
      </tbody>
    </table>
  </body>
</html>