<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>投稿一覧</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src = "@{/webjars/jquery/jquery.min.js}"defer></script>
    <script th:src = "@{/webjars/bootstrap/js/bootstrap.min.js}"defer></script>     
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/Create">新規投稿</a></li>
          <li><a href="/Index">投稿一覧</a></li>
          <li>
            <form method = "post" th:action = "@{/Logout}">
              <input type = "submit" value = "ログアウト">
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <h1>投稿一覧ページ</h1>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>説明</th>
          <th>キーワード</th>
          <th>削除</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each = "output:${outputIndex}">
          <td th:text = "${output.title}"></td>
          <td th:text = "${output.description}"></td>
          <td th:text = "${output.keyword}"></td>
          <td>
            <form th:action ="@{/Edit}" method = "post">
              <input type = "submit" name = "delete" value = "削除">
              <input type = "hidden" name ="id" th:value = "${output.id}">
            </form>
          </td>
          <td>
            <form th:action ="@{/Edit}" method = "post">
              <input type = "submit" name = "edit" value = "編集">
              <input type = "hidden" name ="id" th:value = "${output.id}">
            </form>
          </td>
          
        </tr>
      </tbody>
    </table>
  </body>
</html>