<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>会員登録ページ</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/Top">トップ</a></li>
          <li><a href="/Login">ログイン</a></li>
          <li><a href="/Register">会員登録</a></li>
        </ul>
      </nav>
    </header>
    <h1>会員登録ページ</h1>
    <form method = "post" th:action = "@{/Register}"  th:object="${user}">
      <div>　　　名前:<input type = "text" th:field = "*{name}"></div>
       <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <div>パスワード:<input type = "password" th:field = "*{password}"></div>
       <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      <div><input type = "submit" value = "会員登録"></div>
    </form>
  </body>
</html>