<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>トップページ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">    
  </head>
  <body>
    <header th:replace="layout/logout_header::header"></header>
    <h1 class ="mt-5 ml-5">SpringBoot Application</h1>
    <form action = "/Register" method="get">
      <button class="btn btn-success btn-lg w-50 mt-5 ml-5" type="submit" >会員登録</button>
    </form>
    <form action = "/Login" method="get">
      <button class="btn btn-info btn-lg w-50 mt-5 ml-5" type="submit">ログイン</button><br>
    </form>
  </body>
</html>